.trends {
    background-color: #e9ecef;
    border: none;
    border-radius: 15px;
}

.trending {
    font-size: 13px;
    color: #646466;
}

.outlined-btn {
       color: #00acee;
       border: 1px solid #00acee;
       font-size: 12px;
       font-weight: bold;
       border-radius: 50px;
}

.scrolls {
    position: sticky;
    top: 0;
}