* {
  box-sizing: border-box;
}

body {
  font-family: 'Recursive', sans-serif;
}

:root {
  --btn-bgColor: #00acee;
  --btn-border: 0px;
  --btn-border-radius: 50px;
  --btn-color: #fff;
}

a:hover {
  text-decoration: none;
}